---
import Img1 from '../assets/images/1.png'
import Img2 from '../assets/images/2.png'
import Img3 from '../assets/images/3.png'
import Img4 from '../assets/images/4.png'
import Img5 from '../assets/images/5.png'
import Img6 from '../assets/images/6.png'
---


<section class="flex md:h-[30rem] w-full overflow-x-auto gap-4 mt-4 snap-x snap-mandatory scrollbar-thin scrollbar-thumb-blue-700 scrollbar-track-slate-900">
    <img src={Img1} class="bg-slate-900 snap-center">
    <img src={Img2} class="bg-slate-900 snap-center">
    <img src={Img3} class="bg-slate-900 snap-center">
    <img src={Img4} class="bg-slate-900 snap-center">
    <img src={Img5} class="bg-slate-900 snap-center">
    <img src={Img6} class="bg-slate-900 snap-center">
</section>